<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        
        <p>用户名：{{username}}</p>
        <input type="text" id="" v-model.lazy="username">

        <hr>
        <input type="text" id="" v-model="number1">+
        <input type="text" id="" v-model="number2">={{number1+number2}}

    </div>

    <script src="lib\vue-2.6.12.js"></script>
    <script>
        var vm=new Vue({
            el:"#app",
            data:{
                username:"admin",
                number1:1,
                number2:1
            }
        })
    </script>
</body>
</html>